// Cores
$cor-primaria: #1a1a40;
$cor-secundaria: #1f1f60;
$cor-destaque: #00e6e6;
$cor-destaque-hover: #00cccc;
$cor-fundo: #0d0d0d;
$cor-texto: #f5f5f5;

// Fontes
$fonte-principal: 'Poppins', sans-serif;

// Espaçamentos
$espacamento-padrao: 1rem;
